@page "/"
@rendermode InteractiveServer
@using Services
@inject ISemanticSearchService _semanticService

<PageTitle>Home</PageTitle>

<h2>Type your question here: </h2>

<InputText @bind-Value=userInput />
<button class="btn btn-primary" @onclick="GetResponse">Go!</button>

<h3>Chat: </h3>
@foreach(var outputText in outputTexts)
{
	<p>@outputText</p>
}



@code{

	private string? currentText;
	private string? userInput;
	private List<string> outputTexts = new List<string>();

	private async Task GetResponse()
	{

		if(!string.IsNullOrEmpty(userInput))
		{
			outputTexts.Add($"User: {userInput}");

			var response = await _semanticService.GetOpenAIResponse(userInput);

			outputTexts.Add($"Bot: {response}");
		}
		
	}

}